Rails.application.routes.draw do
    get 'static_pages/'
    root 'static_pages#top'
  end

<div class="main top-main">
    <div class="title">
        <h2>あなたの日常をシェアしよう</h2>
        <p>思い出の写真を投稿してみよう</p>
    </div>
</div>
