<div class="main post-new">
    <div class="container">
        <h1 class="form-heading">思い出をシェアしよう！</h1>
            <%= form_tag("/posts/create", {multipart: true}) do %>
                <div class="form">
                    <div class="form-body">
                        <% @post.errors.full_messages.each do |message| %>
                            <div class="form-error">
                                <%= message %>
                            </div>
                        <% end %>
                            <textarea name="content"></textarea>
                            <label for="file" class="file-btn">
                            <i class="fas fa-camera"></i>
                            <input type="file" id="file" name="image">
                            </label>
                            <input type="submit" value="投稿">
                        </div>
                    </div>
            <% end %>
    </div>
</div>